<body>
    <nav class="navar navbar-default">
    </nav>
    <div ng-view></div>

    <div ng-controller="HomeIndexController as HomeIndexCtrl">
        <p>{{HomeIndexCtrl.greeting}}</p>
    </div>
</body>
