<!DOCTYPE html>
<html ng-app="rangular_lab">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>

  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

    <%= javascript_include_tag 'application' %>

    <title>RangularLab</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
